<div class="navbar navbar-inverse navbar-static-top" role="navigation" style="position:fixed; width:100%;margin-bottom: 10px ">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand" style="font-family: 'Fredoka One', cursive;
            ">PitchOut</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
                <li><a href="{{url_for('auth.logout')}}">SignOut</a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}">SignIn</a></li>
                {%endif%}
              </ul>
        </div>
    </div>
</div>