{% extends "base.html" %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock%}
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    <h1 class="text-center">{{title | upper}} PITCHES</h1>
        {% if pitches %}
            {% for row in pitches | batch(2) %}
            <div class="row pitch-row">
                {% for pitch in row %}
                <div class="col-md-5 pitch-card">
                    <h3 class="source-name">{{pitch.title | upper}}</h3>
                    <p>Posted by <a href="{{url_for('main.user',user_id = pitch.user.id)}}"><strong>{{pitch.user.name}}</strong></a></p>
                    <p>Date: <strong>{{pitch.date}}</strong> at <strong>{{pitch.time}}</strong></p>
                    <p>"{{pitch.content}}"</p>
                    <p>CATEGORY: <strong>{{pitch.category | upper}}</strong></p>
                    <div class="extras">
                        <div>
                            {% if current_user.is_authenticated %}
                            <a class="pitch-comment" href="{{url_for('main.view_comments',pitch_id = pitch.id)}}">View Comments</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div> 
            {% endfor %}
        {% else %}
            <h2>There are no pitches in this category</h2>
            {% if current_user.is_authenticated %}
            <a href="{{url_for('main.add_pitch',uname = current_user.name)}}"><button class="btn btn-info">Add A Pitch</button></a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}